.image-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    column-gap: 30px;
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
    text-align: center;
}